SG_Code/SG_Client/SG.Client.WCFIISHost/Service References/ExtControl_ExtGridControl_W/ExtGridControl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SG.Server.Host.ExtControl" elementFormDefault="qualified" targetNamespace="SG.Server.Host.ExtControl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetReportFiled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sReportName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportFiledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportFiledResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sReportName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bIsGetCount" type="xs:boolean" />
        <xs:element minOccurs="0" name="nPageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRportDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableBySQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableBySQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataTableBySQLResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>