SG_Code/SG_Client/SG.Client.WCFIISHost/Service References/ExtControl_ExtGridControl_W/ExtGridControl1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="SG.Server.Host.ExtControl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="SG.Server.Host.ExtControl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="SG.Server.Host.ExtControl/Imports">
      <xsd:import schemaLocation="http://localhost:22616/ExtGridControl.svc?xsd=xsd0" namespace="SG.Server.Host.ExtControl" />
      <xsd:import schemaLocation="http://localhost:22616/ExtGridControl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExtGridControl_W_GetReportFiled_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportFiled" />
  </wsdl:message>
  <wsdl:message name="ExtGridControl_W_GetReportFiled_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportFiledResponse" />
  </wsdl:message>
  <wsdl:message name="ExtGridControl_W_GetRportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRportData" />
  </wsdl:message>
  <wsdl:message name="ExtGridControl_W_GetRportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRportDataResponse" />
  </wsdl:message>
  <wsdl:message name="ExtGridControl_W_GetDataTableBySQL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableBySQL" />
  </wsdl:message>
  <wsdl:message name="ExtGridControl_W_GetDataTableBySQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableBySQLResponse" />
  </wsdl:message>
  <wsdl:portType name="ExtGridControl_W">
    <wsdl:operation name="GetReportFiled">
      <wsdl:input wsaw:Action="SG.Server.Host.ExtControl/ExtGridControl_W/GetReportFiled" message="tns:ExtGridControl_W_GetReportFiled_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.Host.ExtControl/ExtGridControl_W/GetReportFiledResponse" message="tns:ExtGridControl_W_GetReportFiled_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRportData">
      <wsdl:input wsaw:Action="SG.Server.Host.ExtControl/ExtGridControl_W/GetRportData" message="tns:ExtGridControl_W_GetRportData_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.Host.ExtControl/ExtGridControl_W/GetRportDataResponse" message="tns:ExtGridControl_W_GetRportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTableBySQL">
      <wsdl:input wsaw:Action="SG.Server.Host.ExtControl/ExtGridControl_W/GetDataTableBySQL" message="tns:ExtGridControl_W_GetDataTableBySQL_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.Host.ExtControl/ExtGridControl_W/GetDataTableBySQLResponse" message="tns:ExtGridControl_W_GetDataTableBySQL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>