SG_Code/SG_Client/SG.Client.WCFHost/Service References/Set_SGSetFunSQL_H/ISGSetFunSQL_H.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SG.Server.Host.Set" elementFormDefault="qualified" targetNamespace="SG.Server.Host.Set" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="F_DeleteFunSQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_DeleteFunSQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_DeleteFunSQLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetFunSQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetFunSQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_GetFunSQLResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetFunSQLByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetFunSQLByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_GetFunSQLByIDResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetFunSQLByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetFunSQLByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_GetFunSQLByUserResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetFunSQLData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sCon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetFunSQLDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_GetFunSQLDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_CheckFunNoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="FunNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_CheckFunNoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_CheckFunNoExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetSysFun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetSysFunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_GetSysFunResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetAllFunModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F_GetAllFunModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F_GetAllFunModelResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_DeleteRPTColInfoScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_DeleteRPTColInfoSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_DeleteRPTColInfoSchemeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_GetRPTScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_GetRPTSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_GetRPTSchemeResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_GetRPTColInfoScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_GetRPTColInfoSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_GetRPTColInfoSchemeResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_GetRPTColInfoSchemetmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_GetRPTColInfoSchemetmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_GetRPTColInfoSchemetmpResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_CheckRPTNoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="S_CheckRPTNoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_CheckRPTNoExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>