SG_Code/SG_Client/SG.Client.WCFHost/Service References/Set_SGSetFunSQL_H/ISGSetFunSQL_H1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="SG.Server.Host.Set" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MetadataExchangeTcpBinding_SGSetFunSQL_H_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="SG.Server.Host.Set" location="http://localhost:8008/ISGSetFunSQL_H?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="MetadataExchangeTcpBinding_SGSetFunSQL_H" type="i0:SGSetFunSQL_H">
    <wsp:PolicyReference URI="#MetadataExchangeTcpBinding_SGSetFunSQL_H_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="F_DeleteFunSQL">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/F_DeleteFunSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetFunSQL">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/F_GetFunSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetFunSQLByID">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/F_GetFunSQLByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetFunSQLByUser">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/F_GetFunSQLByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetFunSQLData">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/F_GetFunSQLData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_CheckFunNoExists">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/F_CheckFunNoExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetSysFun">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/F_GetSysFun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetAllFunModel">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/F_GetAllFunModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_DeleteRPTColInfoScheme">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/S_DeleteRPTColInfoScheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_GetRPTScheme">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/S_GetRPTScheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_GetRPTColInfoScheme">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/S_GetRPTColInfoScheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_GetRPTColInfoSchemetmp">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/S_GetRPTColInfoSchemetmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_CheckRPTNoExists">
      <soap12:operation soapAction="SG.Server.Host.Set/SGSetFunSQL_H/S_CheckRPTNoExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>