SG_Code/SG_Client/SG.Client.WCFIISHost/Service References/Base_CommonService_W/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="SG.Server.IISHost.Base" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="SG.Server.IISHost.Base" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="SG.Server.IISHost.Base/Imports">
      <xsd:import schemaLocation="http://localhost:22616/CommonService.svc?xsd=xsd0" namespace="SG.Server.IISHost.Base" />
      <xsd:import schemaLocation="http://localhost:22616/CommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22616/CommonService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommonService_W_GetSystemOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemOrganization" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetSystemOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetSystemDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemDataSet" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetSystemDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetSystemDataSetByOrg_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemDataSetByOrg" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetSystemDataSetByOrg_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemDataSetByOrgResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_SearchLog_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLog" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_SearchLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLogResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_TestConnectionD_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionD" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_TestConnectionD_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionDResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_WriteLogOP_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogOP" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_WriteLogOP_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogOPResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModules" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModulesResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_WriteLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_WriteLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_SearchLogData_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLogData" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_SearchLogData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLogDataResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_SaveFieldDef_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFieldDef" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_SaveFieldDef_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFieldDefResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetLogFieldDef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFieldDef" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetLogFieldDef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFieldDefResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetTracedFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTracedFields" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetTracedFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTracedFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_C_GetTableID_InputMessage">
    <wsdl:part name="parameters" element="tns:C_GetTableID" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_C_GetTableID_OutputMessage">
    <wsdl:part name="parameters" element="tns:C_GetTableIDResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_C_GetTableFieldValue_InputMessage">
    <wsdl:part name="parameters" element="tns:C_GetTableFieldValue" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_C_GetTableFieldValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:C_GetTableFieldValueResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetSQLServerDbListString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLServerDbListString" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetSQLServerDbListString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLServerDbListStringResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetDBLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBLink" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetDBLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBLinkResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetDBLinkByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBLinkByID" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetDBLinkByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBLinkByIDResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_G_GetSystemProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:G_GetSystemProfile" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_G_GetSystemProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:G_GetSystemProfileResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_G_GetSystemProfileVal_InputMessage">
    <wsdl:part name="parameters" element="tns:G_GetSystemProfileVal" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_G_GetSystemProfileVal_OutputMessage">
    <wsdl:part name="parameters" element="tns:G_GetSystemProfileValResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetAttachedFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachedFiles" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_GetAttachedFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachedFilesResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_getTable_InputMessage">
    <wsdl:part name="parameters" element="tns:getTable" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_getTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTableResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_getField_InputMessage">
    <wsdl:part name="parameters" element="tns:getField" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_getField_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFieldResponse" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_getDataTableSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataTableSQL" />
  </wsdl:message>
  <wsdl:message name="CommonService_W_getDataTableSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataTableSQLResponse" />
  </wsdl:message>
  <wsdl:portType name="CommonService_W">
    <wsdl:operation name="GetSystemOrganization">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetSystemOrganization" message="tns:CommonService_W_GetSystemOrganization_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetSystemOrganizationResponse" message="tns:CommonService_W_GetSystemOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemDataSet">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetSystemDataSet" message="tns:CommonService_W_GetSystemDataSet_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetSystemDataSetResponse" message="tns:CommonService_W_GetSystemDataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemDataSetByOrg">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetSystemDataSetByOrg" message="tns:CommonService_W_GetSystemDataSetByOrg_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetSystemDataSetByOrgResponse" message="tns:CommonService_W_GetSystemDataSetByOrg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLog">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/SearchLog" message="tns:CommonService_W_SearchLog_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/SearchLogResponse" message="tns:CommonService_W_SearchLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/TestConnection" message="tns:CommonService_W_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/TestConnectionResponse" message="tns:CommonService_W_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnectionD">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/TestConnectionD" message="tns:CommonService_W_TestConnectionD_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/TestConnectionDResponse" message="tns:CommonService_W_TestConnectionD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLogOP">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/WriteLogOP" message="tns:CommonService_W_WriteLogOP_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/WriteLogOPResponse" message="tns:CommonService_W_WriteLogOP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModules">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetModules" message="tns:CommonService_W_GetModules_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetModulesResponse" message="tns:CommonService_W_GetModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/WriteLog" message="tns:CommonService_W_WriteLog_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/WriteLogResponse" message="tns:CommonService_W_WriteLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLogData">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/SearchLogData" message="tns:CommonService_W_SearchLogData_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/SearchLogDataResponse" message="tns:CommonService_W_SearchLogData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFieldDef">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/SaveFieldDef" message="tns:CommonService_W_SaveFieldDef_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/SaveFieldDefResponse" message="tns:CommonService_W_SaveFieldDef_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogFieldDef">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetLogFieldDef" message="tns:CommonService_W_GetLogFieldDef_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetLogFieldDefResponse" message="tns:CommonService_W_GetLogFieldDef_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTracedFields">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetTracedFields" message="tns:CommonService_W_GetTracedFields_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetTracedFieldsResponse" message="tns:CommonService_W_GetTracedFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="C_GetTableID">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/C_GetTableID" message="tns:CommonService_W_C_GetTableID_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/C_GetTableIDResponse" message="tns:CommonService_W_C_GetTableID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="C_GetTableFieldValue">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/C_GetTableFieldValue" message="tns:CommonService_W_C_GetTableFieldValue_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/C_GetTableFieldValueResponse" message="tns:CommonService_W_C_GetTableFieldValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLServerDbListString">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetSQLServerDbListString" message="tns:CommonService_W_GetSQLServerDbListString_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetSQLServerDbListStringResponse" message="tns:CommonService_W_GetSQLServerDbListString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBLink">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetDBLink" message="tns:CommonService_W_GetDBLink_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetDBLinkResponse" message="tns:CommonService_W_GetDBLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBLinkByID">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetDBLinkByID" message="tns:CommonService_W_GetDBLinkByID_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetDBLinkByIDResponse" message="tns:CommonService_W_GetDBLinkByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="G_GetSystemProfile">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/G_GetSystemProfile" message="tns:CommonService_W_G_GetSystemProfile_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/G_GetSystemProfileResponse" message="tns:CommonService_W_G_GetSystemProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="G_GetSystemProfileVal">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/G_GetSystemProfileVal" message="tns:CommonService_W_G_GetSystemProfileVal_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/G_GetSystemProfileValResponse" message="tns:CommonService_W_G_GetSystemProfileVal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachedFiles">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetAttachedFiles" message="tns:CommonService_W_GetAttachedFiles_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/GetAttachedFilesResponse" message="tns:CommonService_W_GetAttachedFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTable">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/getTable" message="tns:CommonService_W_getTable_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/getTableResponse" message="tns:CommonService_W_getTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getField">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/getField" message="tns:CommonService_W_getField_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/getFieldResponse" message="tns:CommonService_W_getField_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataTableSQL">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/CommonService_W/getDataTableSQL" message="tns:CommonService_W_getDataTableSQL_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/CommonService_W/getDataTableSQLResponse" message="tns:CommonService_W_getDataTableSQL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>