SG_Code/SG_Client/SG.Client.WCFIISHost/Service References/Set_SGSetFunSQL_W/SGSetFunSQL1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="SG.Server.IISHost.Set" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SGSetFunSQL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="http_ISGSetFunSQL_W_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="14400000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="SG.Server.IISHost.Set" location="http://localhost:22616/SGSetFunSQL.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="http_ISGSetFunSQL_W" type="i0:SGSetFunSQL_W">
    <wsp:PolicyReference URI="#http_ISGSetFunSQL_W_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="F_DeleteFunSQL">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/F_DeleteFunSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetFunSQL">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/F_GetFunSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetFunSQLByID">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/F_GetFunSQLByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetFunSQLByUser">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/F_GetFunSQLByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetFunSQLData">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/F_GetFunSQLData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_CheckFunNoExists">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/F_CheckFunNoExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetSysFun">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/F_GetSysFun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F_GetAllFunModel">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/F_GetAllFunModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_DeleteRPTColInfoScheme">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/S_DeleteRPTColInfoScheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_GetRPTScheme">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/S_GetRPTScheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_GetRPTColInfoScheme">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/S_GetRPTColInfoScheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_GetRPTColInfoSchemetmp">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/S_GetRPTColInfoSchemetmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="S_CheckRPTNoExists">
      <soap12:operation soapAction="SG.Server.IISHost.Set/SGSetFunSQL_W/S_CheckRPTNoExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SGSetFunSQL">
    <wsdl:port name="http_ISGSetFunSQL_W" binding="tns:http_ISGSetFunSQL_W">
      <soap12:address location="http://localhost:22616/SGSetFunSQL.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:22616/SGSetFunSQL.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>http://loaclhost:9000</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>