SG_Code/SG_Client/SG.Client.WCFIISHost/Service References/Base_SGBaseDict_W/SGBaseDict.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="SG.Server.IISHost.Base" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="SG.Server.IISHost.Base" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="SG.Server.IISHost.Base/Imports">
      <xsd:import schemaLocation="http://localhost:22616/SGBaseDict.svc?xsd=xsd0" namespace="SG.Server.IISHost.Base" />
      <xsd:import schemaLocation="http://localhost:22616/SGBaseDict.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SGBaseDict_W_GetDataByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByKey" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_GetDataByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_GetSummaryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSummaryData" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_GetSummaryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSummaryDataResponse" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_GetDataDictByTableName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataDictByTableName" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_GetDataDictByTableName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataDictByTableNameResponse" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_DownloadDicts_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadDicts" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_DownloadDicts_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadDictsResponse" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_UpdateEx_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEx" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_UpdateEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExResponse" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_CheckNoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNoExists" />
  </wsdl:message>
  <wsdl:message name="SGBaseDict_W_CheckNoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNoExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="SGBaseDict_W">
    <wsdl:operation name="GetDataByKey">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/GetDataByKey" message="tns:SGBaseDict_W_GetDataByKey_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/GetDataByKeyResponse" message="tns:SGBaseDict_W_GetDataByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryData">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/GetSummaryData" message="tns:SGBaseDict_W_GetSummaryData_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/GetSummaryDataResponse" message="tns:SGBaseDict_W_GetSummaryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDictByTableName">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/GetDataDictByTableName" message="tns:SGBaseDict_W_GetDataDictByTableName_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/GetDataDictByTableNameResponse" message="tns:SGBaseDict_W_GetDataDictByTableName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadDicts">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/DownloadDicts" message="tns:SGBaseDict_W_DownloadDicts_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/DownloadDictsResponse" message="tns:SGBaseDict_W_DownloadDicts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/Update" message="tns:SGBaseDict_W_Update_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/UpdateResponse" message="tns:SGBaseDict_W_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEx">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/UpdateEx" message="tns:SGBaseDict_W_UpdateEx_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/UpdateExResponse" message="tns:SGBaseDict_W_UpdateEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/Delete" message="tns:SGBaseDict_W_Delete_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/DeleteResponse" message="tns:SGBaseDict_W_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNoExists">
      <wsdl:input wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/CheckNoExists" message="tns:SGBaseDict_W_CheckNoExists_InputMessage" />
      <wsdl:output wsaw:Action="SG.Server.IISHost.Base/SGBaseDict_W/CheckNoExistsResponse" message="tns:SGBaseDict_W_CheckNoExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>